#contenedor{
    position: absolute;
    top:200px;
    width: 630px;
    max-width: 630px;
    height: 430px;
    max-height: 430px;
    font-family: sans-serif;
    text-align: center;
}

#btn-continuar {
    width: 106px;
    background-color:#3d94f6;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border:1px solid #337fed;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:10px 15px;
    text-decoration:none;
    position: absolute;
    top: 290px;
    left: 180px;
}

#btn-reset {
    width: 106px;
    background-color:#3d94f6;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border:1px solid #337fed;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:10px 15px;
    text-decoration:none;
    position: absolute;
    left: 330px;
    top: 290px;
}

#sonido {
    position: absolute;
    left: 490px;
    top: 300px;
	display: none;
}

#mayor_rec {
    position: absolute;
    width: 170px;
    height: 125px;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    top: 100px;
}

#medio_rec {
    position: absolute;
    width: 170px;
    height: 125px;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    top: 100px;
    left: 200px;
}

#menor_rec {
    position: absolute;
    width: 170px;
    height: 125px;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    top: 100px;
    left: 400px;
}

#mayor {
    position: sticky;
    float: left;
    width: 178px;
    height: 120px;
    left: 50px;
}

#menor {
    position: sticky;
    float: left;
    width: 178px;
    height: 120px;
    left: 250px;
}

#medio {
    position: sticky;
    float: left;
    width: 178px;
    height: 120px;
    left: 440px;
}