.contenedor{
    position: absolute;
    top:200px;
    width: 630px;
    max-width: 630px;
    height: 430px;
    max-height: 430px;
    font-family: sans-serif;
    text-align: center;
    border:3px solid #CCC;
}


.opciones input{
    margin:30px;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.secuencia_1{
    background-image:url(secuencia1.png);
}
.secuencia_2{background-image:url(secuencia2.png);}
.secuencia_3{background-image:url(secuencia3.png);}
.secuencia_4{background-image:url(secuencia4.png);}

.imagen img{
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border:3px solid #CCC;
    cursor: pointer;
}

#imagenUno{
    position:absolute;
    top:37px;
    left:25px;
}
#from1 {
  position: absolute;
  left : 30px;
  top  : 195px;
}
#from2 {
  position: absolute;
  left : 330px;
  top  : 195px;
}
#from3 {
  position: absolute;
  left : 15px;
  top  : 255px;
}
#from4 {
  position: absolute;
  left : 315px;
  top  : 255px;
}

.check{
    width:570px;
    height: 110px;
}

.opciones input:active +.respuesta{opacity: .9;}
.opciones input:checked +.respuesta{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.respuesta{
    color: red;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:295px;height:40px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.respuesta:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.respuesta:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

#btn-continuar {
    width: 106px;
    background-color:#3d94f6;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:10px 15px;
    text-decoration:none;
    position: absolute;
    left: 270px;
    top: 362px;
}

#sonido {
    position: absolute;
    left: 590px;
    top: 367px;
	display: none;
}