@font-face {
    font-family: 'Berlin Sans';
    src: url('../font/Berlin Sans FB Regular.ttf') format('truetype');
}
.contenedor{
	font-family: 'Berlin Sans FB', sans-serif;
	width: 630px;
	max-width: 630px;
	height: 560px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 360px;
	display: none
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px;
	display: block;
}
.opcion{
	width:250px;
	height:50px;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-top: 30px;
	background-color:white;
	color:black;
	text-align:center;
	vertical-align:middle;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #DDD;
	font-family: 'Berlin Sans FB', sans-serif;
	cursor:pointer;
	font-size: 20px;
	float: left;
}

