.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px;
	display: none;
}

#maria{position:absolute;top:30px;left:350px;}
#simon{position:absolute;top:30px;left:180px;}
#bombon1{position:absolute;top:30px;left:280px;}
#bombon2{position:absolute;top:30px;left:450px;}
#num1{position:absolute;top:90px;left:280px;}
#num2{position:absolute;top:90px;left:455px;}
#texto2{position:absolute;top:200px;left:40px;}
#texto1{position:absolute;top:290px;left:40px;}

.btnSigno{position:absolute;
	width:50px;height:50px;
	font-size:40px;
	background-color:#DDD;
	color:#787878;
	text-align:center;
	vertical-align:middle;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;border-radius:5px;
	border:2px solid #ccc;
	cursor:pointer;}

.btnSigno:hover{background-color:#EEE;}
.btnSigno.seleccionado{background-color:#70d8c0}

.btnSigno1{top:300px;left:420px;}
.btnSigno2{top:300px;left:495px;}
.btnSigno3{top:300px;left:570px;}

#respuesta{
	position:absolute;
	top:210px;
	left:483px;
	border:3px solid #51b59f;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:1.5em;
	text-align:center;
	color:#787878;
	font-size:50px;
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}