.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px; 
}

#imagen1{position:absolute;top:40px;left:70px;}
#imagen2{position:absolute;top:70px;left:330px;}
#imagen3{position:absolute;top:60px;left:470px;}
#imagen4{position:absolute;top:240px;left:70px;}
#imagen5{position:absolute;top:190px;left:290px;}
#imagen6{position:absolute;top:240px;left:450px;}
#marco1{position:absolute;top:36px;left:52px;}
#marco2{position:absolute;top:65px;left:325px;}
#marco3{position:absolute;top:55px;left:447px;}
#marco4{position:absolute;top:230px;left:60px;}
#marco5{position:absolute;top:185px;left:270px;}
#marco6{position:absolute;top:230px;left:425px;}