body{
	overflow: hidden;
}

.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
	overflow: hidden;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px;
}

.imagen{cursor:pointer;}
.imagen1{position:absolute;top:170px;left:50px;}
.imagen2{position:absolute;top:170px;left:140px;}
.imagen3{position:absolute;top:170px;left:230px;}
.imagen4{position:absolute;top:170px;left:320px;}
.raya{cursor:pointer;}
.igual{position:absolute;top:180px;left:430px;font-size:60px;color:#8a8a8a}
#respuesta{
	position:absolute;
	top:180px;
	left:490px;
	border:3px solid #51b59f;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:1.1em;
	text-align:center;
	color:#787878;
	font-size:50px;
	padding: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}