.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px;
	display: none;
}

#fondo{position:absolute;top:100px;left:70px;}
#mesa{position:absolute;top:220px;left:400px;}
#chico{position:absolute;top:150px;left:270px;}
#imagen1{position:absolute;top:110px;left:160px;}
#imagen2{position:absolute;top:140px;left:480px;}
#imagen3{position:absolute;top:250px;left:210px;}
#imagen4{position:absolute;top:245px;left:440px;}
#marco1{position:absolute;top:100px;left:152.5px;}
#marco2{position:absolute;top:130px;left:470px;}
#marco3{position:absolute;top:245.5px;left:201px;}
#marco4{position:absolute;top:235px;left:437px;}
