body{
	overflow: hidden;
}

.contenedor {
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px;
}

#billete{position:absolute;top:100px;left:230px;}
#res1{position:absolute;top:220px;left:190px;font-size:35px;color:#787878ff;}
#res2{position:absolute;top:270px;left:270px;font-size:35px;color:#787878ff;}
#res3{position:absolute;top:220px;left:400px;font-size:30px;color:#787878ff;}
#marco1{position:absolute;top:215px;left:167.5px;}
#marco2{position:absolute;top:255px;left:262.5px;}
#marco3{position:absolute;top:200px;left:385px;}
a:link{text-decoration:none;}