html, body {
    background-color: #EEE;
}

.fondo-azul {
    background-color: #3E91ED;
    color: #FFF;
}

.contenedor-grafica-reporte canvas {
    display: inline-block !important;
}

.contenedor-grafica-reporte .porcentaje-nivel {
    margin-top: -80px;
    margin-bottom: 60px;
}

.contenedor-grafica-reporte .porcentaje-general {
    margin-top: -120px;
    margin-bottom: 100px;
}