.contenedor{
    width: 630px;
    max-width: 630px;
    height: 430px;
    max-height: 430px;
    font-family: sans-serif;
    text-align: center;
}

#continuar {
    position: absolute;
    left: 270px;
    top: 392px;
    display: none;
}

#btn-continuar {
    width: 106px;
    background-color:#3d94f6;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:10px 15px;
    text-decoration:none;
}

#btn-continuar:hover {
    background-color:#1e62d0;
}

#sonido {
    position: absolute;
    left: 590px;
    top: 397px;
	display: none;
}

.opciones input{
    margin:50;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

#reloj {
    position: relative;
    top: 70px;
}

.opciones {
    position: relative;
    top: 120px;
}

.opciones input:active +.respuesta{opacity: .9;}
.opciones input:checked +.respuesta{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.respuesta{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:140px;height:90px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.respuesta:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}