.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px;
	display: none;
}

#imagen1{position:absolute;top:180px;left:180px;}
#imagen2{position:absolute;top:180px;left:240px;}
#imagen3{position:absolute;top:180px;left:300px;}
#imagen4{position:absolute;top:180px;left:360px;}
#imagen5{position:absolute;top:180px;left:420px;}
#marco1{position:absolute;top:170px;left:176px;}
#marco2{position:absolute;top:170px;left:236px;}
#marco3{position:absolute;top:170px;left:296px;}
#marco4{position:absolute;top:170px;left:356px;}
#marco5{position:absolute;top:170px;left:416px;}