.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: sans-serif;
	text-align: center;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#sonido {
	position: absolute;
	left: 590px;
	top: 397px;
	display: block;
}

#relojuno {
	position:absolute;
	top:50px;
	left:50px;
}
#relojdos {
	position:absolute;
	top:50px;
	left:240px;
}
#relojtres {
	position:absolute;
	top:50px;
	left:430px;
}

.respuesta{
	position:absolute;
	border:3px solid #51b59f;
	-webkit-border-radius:5px;
	border-radius:5px;
	width: 110px;
	height: 40px;
	text-align:center;
	color:#787878;
	font-size:40px;
	padding: 0;
}
#res1{
	top:250px;
	left:60px;
}
#res2{
	top:250px;
	left:260px;
}
#res3{
	top:250px;
	left:460px;
}

